@charset "UTF-8";
@import "tailwindcss";

:root {
  --primary-color: #26499d;
}

html,body {
  /* @apply tracking-tight; */
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; color:#333333; font-weight: 500
}


html, body { }



/* html, body, input, textarea { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; } */

/* 기본형 */
/* .clearfix:before, .linkadmin__listbox:before, .kakaotemplate:before { content: " "; display: table; }

.clearfix:after, .linkadmin__listbox:after, .kakaotemplate:after { content: " "; display: table; clear: both; }

.tf_comm { display: inline-block; height: 30px; padding: 3px 5px; border: 1px solid #ccc; border-radius: 5px; color: #333; line-height: 1.4; box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075); box-sizing: border-box; }
.tf_comm_excel { padding: 3px 5px; width: 100%; border: none; color: #333; box-sizing: border-box; }

.opt_comm { display: inline-block; width: 100%; height: 30px; padding: 3px 5px; border: 1px solid #aaa; border-radius: 5px; color: #333; line-height: 1.4; box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075); box-sizing: border-box; }

.tf_comm:disabled { background: #ddd; color: #6f6f6f}
.opt_comm:disabled { background: #ccc;}

.btn_comm { display: inline-block; width: auto; padding: 1px 3px 0 2px; margin-top: -3px; border: 1px solid #aaa; border-radius: 3px; background: #fff; color: #333; font-size: 12px; cursor: pointer; letter-spacing: -1px; box-sizing: border-box; }
.btn_comm_13 { display: inline-block; width: auto; padding: 4px 8px 3px 6px; border: 1px solid #aaa; border-radius: 5px; background: #fff; color: #333; font-size: 13px; cursor: pointer; letter-spacing: -1px; box-sizing: border-box; }
.btn_comm:hover, .btn_comm_13:hover, .btn_comm:focus, .btn_comm_13:focus { background: #e6e6e6; }

input[type="checkbox"].chk_comm { width: 13px; height: 13px; margin-right: 3px }
input.chk_comm:disabled { accent-color: #333333 !important;} */

/* label.chk_comm { margin-left: 2px; margin-right: 5px; font-size:13px;} */

input[type="file"]::file-selector-button {
  background-color: #2c5aa7; /* 배경색 */
  color: #fff;              /* 글자색 */
  border: none;
  padding: 3px 8px 5px;
  margin: -3px 5px -3px -5px;
  border-radius: 5px;
  cursor: pointer;
}
input[type="file"]::file-selector-button:hover {
  background-color: #253c6c;
}

.switch_comm { position: relative; display: inline-block; width: 34px; height: 21px; }
.switch_comm input { opacity: 0; width: 0; height: 0; }
.switch_slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ff8f79; border-radius: 10px; transition: 0.3s; }
.switch_slider:before { position: absolute; content: ""; height: 15px; width: 15px; left: 16px; bottom: 3px; background-color: white; border-radius: 50%; transition: 0.3s; }
/* 켜진 상태 (On) */
input:checked + .switch_slider {
  background-color: #2196F3; /* 활성화 색상 */
}

input:checked + .switch_slider:before {
  transform: translateX(-13px); /* 버튼 이동 */
}

/* 
.text_center { text-align: center; }

.text_right { text-align: right; }

.text_left { text-align: left; }

.text_red, .txt_red { color: #c00000 !important; }

.text_blue, .txt_blue { color: #1c7ed6 !important; }

.text_green, .txt_green { color: #00ab33 !important; }

.text_gray, .txt_gray { color: #666; }

.bg_gray { background: #f1f3f5; }

.bg_blackmask { width: 100%; height: 100%; background: #000; opacity: 0.4; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; }

.shadow, .help__cont, .kakaoview__box { box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-sizing: border-box; }

.hidden {display: none !important;}

.required_item { font-size: 16px; color: #f00; font-weight: bold;} */

/* 기존 버그 수정?*/
/* label { display: inline-block; margin-bottom: 2px; }

.btn { display: inline-block; padding: 6px 12px; margin-bottom: 0; text-align: center; cursor: pointer; border: 1px solid transparent; }

.btn_style1 { min-width: 70px; border-color: #0089c4; border-radius: 0; background-color: #019cde; color: #fff; }

.btn_style1:hover { border-color: #0075a8; background-color: #0089c4; }

.btn_style2 { min-width: 70px; border-color: #ccc; border-radius: 0; color: #333; }

.btn_style2:hover { border-color: #adadad; background-color: #e6e6e6; } */





/* 레이아웃 */
/* .aipage {@apply flex flex-col;}
.aipage > .aipage-box {@apply flex flex-col bg-gray-50;}
.aipage > .aipage-box > .aipage-box-content {@apply flex flex-col p-3;} */
 


/* .wrap_center { @apply relative float-left p-4 box-border; }
.wrap_rightgroup { @apply w-64 ml-4; }
.wrap_right { @apply w-64 p-2 border border-gray-300 rounded bg-gray-200 box-border; }
.wrap_right2 { @apply w-64 mt-4 p-2 border border-gray-300 rounded bg-gray-200 box-border; } */

/* 서브 탭 */

/* .tab-submenu { @apply pb-2; }
.tab-submenu .tabs ul { @apply flex; }
.tab-submenu .tabs a { @apply flex p-3 pb-1 border-b-6 border-transparent text-lg text-gray-600 no-underline whitespace-nowrap cursor-pointer; }
.tab-submenu .tabs a:hover {@apply border-gray-300 text-gray-800; text-decoration: none; }
.tab-submenu .tabs a:focus { @apply border-gray-300 text-gray-800; text-decoration: none; }
.tab-submenu .tabs a.selected { @apply flex border-(--primary-color) text-gray-800 font-bold; }
.tab-submenu .tabs a.selected:hover { @apply bg-transparent font-bold; }
.tab-submenu .tabs a.selected:focus { @apply bg-transparent font-bold; } */

#menuTab img.icon { border-style:none;vertical-align:middle; }
#menuTab img.separator { border-style:none;display:block; }
#menuTab img.horizontal-separator { border-style:none;vertical-align:middle; }
#menuTab ul { list-style:none;margin:0;padding:0;width:auto; }
#menuTab ul.dynamic { z-index:1; }
/* #menuTab a { text-decoration:none;white-space:nowrap;display:block; } */
/* #menuTab a.static { text-decoration:none;border-style:none; } */
/* #menuTab a.static.selected { text-decoration:none;border-style:none; } */



.divLoading { position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 3; width: 100%; height: 100%; background: #fff; opacity: 0.7; text-align: center; }

.divLoading img { z-index: 5; width: 500px; margin-top: 200px;}





.panel_box { @apply relative flex flex-col p-4 rounded-xl bg-white overflow-y-auto;}




/* AI POP 생성창 */



.ai_crt_attach { position: absolute; top: 0; right: 0; width: 200px; height: 200px; object-fit: cover; }
div.ai_crt_attach { display: flex; background: #fff; border: 1px dashed #ccc; border-radius: 5px; justify-content: center; align-items: center;}
img.ai_crt_attach { border: 1px solid #ccc; border-radius: 5px;}

.ai_crt_box {}
/* .ai_crt_box--gray { background: #f9f9f9; border: 1px solid #eee; }
.ai_crt_box--white {@apply bg-white border border-gray-300;} */
.ai_crt_box_btn {@apply px-3 py-1 border border-gray-300 rounded-lg text-left;}
.ai_crt_box_btn:hover { background: #e8e8e8; text-decoration: none; }
.ai_crt_box_btn.selected { background: #2c5aa7; color: #fff; border: 1px solid #2c5aa7;}
.ai_crt_box_btn.selected > .ai_crt_info--small { color:#fff; }
.ai_crt_box_btn.selected > .ai_crt_grid_container > .ai_crt_grid_item {background: #fff; border-radius:3px;}
.ai_crt_box_btn.selected:hover { background: #2c5aa7; text-decoration: none; }
.ai_crt_box_btn.disabled {background: #6a6a6a; color: #fff; border: 1px solid #808080;}

.ai_crt_fieldset { position: relative;}

/* .ai_crt_functionbox_row { position: relative; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; margin-top:8px; gap: 10px;} */
.ai_crt_functionbox_col { position: relative; display: flex; flex-direction: column; justify-content: center; align-items: flex-start; margin-top:5px;}

.ai_crt_layerbox_col { display: flex; flex-direction: column; justify-content: flex-start; align-items: stretch; gap: 1px; background: #a8a8a8; width:165px; height: 123px; overflow-x: hidden; overflow-y: auto; margin-top:5px; padding: 1px; }
.ai_crt_layerbox_btn { width: 100%; padding: 0; border: none; background: #fff;}
.ai_crt_layerbox_btn:hover { background: #e8e8e8; text-decoration: none; }
.ai_crt_layerbox_btn.selected { background: #2c5aa7; color: #fff;}

.ai_crt_grid_container {display: grid; gap: 3px; width: 60px; height: 60px; justify-self:center; margin-bottom: 5px;}
.ai_crt_grid21 {grid-template-rows: repeat(2, 1fr); grid-template-columns: repeat(1, 1fr);}
.ai_crt_grid22 {grid-template-rows: repeat(2, 1fr); grid-template-columns: repeat(2, 1fr);}
.ai_crt_grid32 {grid-template-rows: repeat(3, 1fr); grid-template-columns: repeat(2, 1fr);}
.ai_crt_grid42 {grid-template-rows: repeat(4, 1fr); grid-template-columns: repeat(2, 1fr);}
.ai_crt_grid_item {background: #ddd; border-radius:3px;}

.ai_crd_goods_grid { display: inline-grid; background: #ccc; gap: 1px; border: 1px solid #ccc;}
.ai_crd_goods_grid > div { width: 100%; height: 100%; background: #fff; display: flex; justify-content: center; align-items: center; }

.ai_crt_info { @apply text-lg font-bold }
.ai_crt_info--small { @apply text-sm text-gray-500;}

.ai_crt_preview {@apply flex-1 overflow-hidden p-4 box-border bg-white border-b border-r border-gray-300;}
.ai_crt_preview_paper { @apply flex flex-col items-center justify-start bg-white border border-gray-300 box-border my-2 p-1 transition-all duration-400 ease-out; }
.ai_crt_preview_title { @apply w-full mb-1 p-2 rounded border border-dashed border-gray-300 text-gray-300 text-center box-border;}
.ai_crt_preview_grid { @apply grid w-full h-full gap-1 box-border;}
.ai_crt_preview_goods { @apply border border-dashed border-gray-300 rounded p-1 text-sm;}

.excel_goods_name { color: #333; font-weight: bold; margin-right: 3px}
.excel_goods_barcode { color: #aaa;}
.excel_goods_sale_price { display: inline-block; color: #aaa; text-decoration: line-through; margin-right: 3px; }
.excel_goods_dc_price { display: inline-block; color: #f55; font-weight: bold;}
.excel_goods_dc_rate { display: inline-block; }
.empty { color: #aaa !important;}

.ai_crt_preview_frame { position: relative; width: 840px; height: 840px; background: #ccc; box-sizing: border-box; transform-origin: top left;}
.ai_crt_canvas_editor { position: absolute; top: 20px; left: 137px; background: #fff; overflow: hidden; z-index: 1; }
.ai_crt_canvas_cover { position: absolute; background: #ccccdd; opacity: 0.5; z-index: 2; }
.ai_crt_canvas_cover.on { background: #ddcccc; }
.ai_crt_canvas { position: absolute; top: 20px; left: 137px; background: #fff; display: grid; box-sizing: border-box; z-index: 0; }
.ai_crt_layer { position: absolute; user-select: none; box-sizing: border-box; border: 1px dashed transparent; }
.ai_crt_layer.selected { border: 1px dashed #3498db; cursor: move; }
.ai_crt_layer.selected .ai_crt_layer_handle, .ai_crt_layer.selected .ai_crt_layer_rotate { display: block; }
.ai_crt_layer_handle, .ai_crt_layer_rotate { display: none; position: absolute; width: 10px; height: 10px; background: #fff; border: 2px solid #3498db; box-sizing: border-box; }
.ai_crt_layer_handle.h-n  { top: -5px; left: calc(50% - 5px); cursor: n-resize; z-index: 10; }
.ai_crt_layer_handle.h-s  { width: 20px; height: 6px; border-radius: 3px; bottom: -3px; left: calc(50% - 10px); cursor: s-resize; z-index: 10; }
.ai_crt_layer_handle.h-w  { width: 6px; height: 20px; border-radius: 3px; left: -3px; top: calc(50% - 10px); cursor: w-resize; z-index: 10; }
.ai_crt_layer_handle.h-e  { width: 6px; height: 20px; border-radius: 3px; right: -3px; top: calc(50% - 10px); cursor: e-resize; z-index: 10; }
.ai_crt_layer_handle.h-nw { top: -5px; left: -5px; cursor: nwse-resize; z-index: 10; }
.ai_crt_layer_handle.h-ne { top: -5px; right: -5px; cursor: nesw-resize; z-index: 10; }
.ai_crt_layer_handle.h-sw { bottom: -5px; left: -5px; cursor: nesw-resize; z-index: 10; }
.ai_crt_layer_handle.h-se { bottom: -5px; right: -5px; cursor: nwse-resize; z-index: 10; }
.ai_crt_layer_rotate { top: -20px; left: calc(50% - 5px); border-radius: 5px; cursor: url('../img/img_sync_20x20.png') 10 10, alias; z-index: 10; }
.ai_crt_layer_rotate::after { content: ""; display: block; height: 12px; border-left: 2px solid #3498db; margin: 6px 2px 0 2px; }
.ai_crt_layer_content { width: 100%; height: 100%; }
.ai_crt_layer_content svg { width: 100%; height: 100%; display: block; }
.ai_crt_layer_content div { height: 100%; overflow: hidden; box-sizing: border-box }

.ai_crt_custom_menu { position: absolute; background:#fff; border: 1px solid #e5e7eb; border-radius:5px; box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06); padding: 4px 0;z-index: 9999;}
.ai_crt_custom_menu > li { padding: 8px 10px; cursor: pointer; list-style: none;}
.ai_crt_custom_menu > li:hover { background: #f3f4f6; color: #2563eb;}

.popup_layer { position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 3; width: 100%; height: 100%; }
.popup_layer div.popup_background { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #333; opacity: 0.3; }
.popup_layer div.popup_content { position: absolute; background: #fff; z-index: 4; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 15px; border-radius: 5px; box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3); }



/*.wrap_left .tf_lmstitle { display: inline-block; width: 100%; height: 30px; padding: 3px 5px; line-height: 1.4; border: 1px solid #ccc; color: #333; box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075); box-sizing: border-box; }

.wrap_left .divContent { overflow: hidden; margin-top: 10px; border: 2px solid #5c8ead; border-radius: 5px; }

.wrap_left .divContent .divLength { position: relative; padding: 3px 10px 3px 0; background: #a4c8de; color: #333; text-align: center; }

.wrap_left .divContent .divLength .ico_antenna { position: absolute; top: 6px; left: 5px; }

.wrap_left .divContent .divLength .ico_battery { position: absolute; top: 6px; right: 5px; }

.wrap_left .divContent .txtContent { display: inline-block; width: 100%; height: 30px; padding: 3px 5px; line-height: 1.4; border: 1px solid #ccc; color: #333; box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075); box-sizing: border-box; height: 260px; border: 0; color: #000; font-family:Arial; }

.wrap_left .divContent .special_buttons { padding: 5px; background: #a4c8de; }

.wrap_left .divContent .special_buttons input { width: 86px; height: 29px; border: none; background: url(../img/img_button2.png) no-repeat; cursor: pointer; }

.wrap_left .divContent .special_buttons input:last-of-type { margin-right: 0; }

.wrap_left .divContent .special_buttons input:hover { background: url(../img/img_button2_hover.png) no-repeat; }

.wrap_left .divContent .special_buttons input:focus { background: url(../img/img_button2_hover.png) no-repeat; }

.wrap_left .divMergeWrap { position: relative; }

.wrap_left .divMergeWrap .divMergeList { display: none; position: absolute; right: 0; top: -1px; border: 1px solid #999; border-radius: 5px; background: #fff; padding: 10px; z-index: 2; }

.wrap_left .divMergeWrap .divMergeList span { font-weight: bold; }

.wrap_left .divMergeWrap .divMergeList span:hover { color: #2c5aa7; cursor: pointer; }

.wrap_left .divMergeWrap .divMergeList span:focus { color: #2c5aa7; cursor: pointer; }

.wrap_left .divOptionWrap .tbl_formstyle { width: 100%; max-width: 100%; margin-top: 1px; background-color: transparent; box-sizing: border-box; }

.wrap_left .divOptionWrap .tbl_formstyle > tbody > tr > td { padding: 1px 0; line-height: 1.4; vertical-align: inherit; }

.wrap_left .divOptionWrap .tf_phone { display: inline-block; width: 100%; height: 30px; padding: 3px 5px; line-height: 1.4; border: 1px solid #ccc; color: #333; box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075); box-sizing: border-box; }

.wrap_left .divOptionWrap .btn_phone { width: 49px; height: 29px; border: none; background: url(../img/img_button1.png) no-repeat; cursor: pointer; }

.wrap_left .divOptionWrap .btn_phone:hover { background: url(../img/img_button1_hover.png) no-repeat; }

.wrap_left .divOptionWrap .btn_phone:focus { background: url(../img/img_button1_hover.png) no-repeat; }

.wrap_left .divOptionWrap .tf_date { display: inline-block; width: 100%; height: 30px; padding: 3px 5px; line-height: 1.4; border: 1px solid #ccc; color: #333; box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075); box-sizing: border-box; width: 100px; margin-left: 20px; }

.wrap_left .divOptionWrap .tf_hours { display: inline-block; width: 100%; height: 30px; padding: 3px 5px; line-height: 1.4; border: 1px solid #ccc; color: #333; box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075); box-sizing: border-box; width: 100px; margin-left: 20px; }

.wrap_left .divOptionWrap .tf_minute { display: inline-block; width: 100%; height: 30px; padding: 3px 5px; line-height: 1.4; border: 1px solid #ccc; color: #333; box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075); box-sizing: border-box; width: 70px; }

.wrap_left .divOptionWrap .btn_date { display: inline-block; width: 45px; height: 29px; border: none; background: url(../img/img_button4.png) no-repeat; cursor: pointer; }

.wrap_left .divOptionWrap .btn_date:hover { background: url(../img/img_button4_hover.png) no-repeat; }

.wrap_left .divOptionWrap .btn_date:focus { background: url(../img/img_button4_hover.png) no-repeat; }

.wrap_left .divOptionWrap .line_style { border: 0; height: 1px; background: #cccccc; margin: 3px 0; }

.wrap_left .divOptionWrap .label_checkbox { display: inline-block; }

.wrap_left .divOptionWrap .label_checkbox input { margin: -4px 5px 0 0; }

.wrap_left .divOptionWrap .btnIncludeImg { width: 150px; height: 29px; margin-left: 20px; border: none; background: url(../img/img_button3.png) no-repeat; }

.wrap_left .divOptionWrap .btnIncludeImg:hover { background: url(../img/img_button3_hover.png) no-repeat; }

.wrap_left .divOptionWrap .btnIncludeImg:focus { background: url(../img/img_button3_hover.png) no-repeat; }

.wrap_left .btnSend { position: relative; width: 280px; height: 50px; border: none; background: url(../img/img_button5.png) no-repeat; font-size: 16px; font-weight: bold; color: #fff; cursor: pointer; }

.wrap_left .btnSend:hover { background: url(../img/img_button5_hover.png) no-repeat; }

.wrap_left .btnSend:focus { background: url(../img/img_button5_hover.png) no-repeat; }*/











/** 리스트 검색영역 **/
/*.divSendtarget { padding: 5px; border: 1px solid #ddd; border-top: 0; background: #fff; font-weight: bold; }

.divSendtarget span { color: #808080; }

.divSendtarget span.selcount { color: #2F75B5; }

.divSendtarget .tf_comm, .divSendtarget .linkpopup__tf, .divSendtarget .kakao2__textarea textarea, .kakao2__textarea .divSendtarget textarea, .divSendtarget .kakao2__textarea input[type='text'], .kakao2__textarea .divSendtarget input[type='text'], .divSendtarget .kakaopopup__tf { display: inline-block; width: 100px; height: 25px; padding: 3px 5px; line-height: 1.2; border: 1px solid #ccc; color: #333; box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075); box-sizing: border-box; }

.divSendtarget .btn_comm { display: inline-block; padding: 3px 8px; border: 1px solid #aaa; border-radius: 3px; background: #ffffff; font-size: 14px; color: #1e1e1e; line-height: 1.2; vertical-align: top; cursor: pointer; }

.search__box { padding: 5px; border-top: 0; background: #6688aa; }

.search__txt { color: #fff; }

.search__tf { display: inline-block; width: 100px; height: 25px; padding: 3px 5px; line-height: 1.2; border: 1px solid #ccc; color: #333; box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075); box-sizing: border-box; }

.search__btn { display: inline-block; padding: 3px 8px; border: 1px solid #aaa; border-radius: 3px; background: #ffffff; font-size: 14px; color: #1e1e1e; line-height: 1.2; vertical-align: top; cursor: pointer; }
*/

/** 리스트영역 **/
/*.target_scroll { overflow-y: scroll; display: block; width: 100%; height: 570px; padding: 5px; border: 1px solid #ddd; border-top: 0; background: #fff; box-sizing: border-box; }

.target_scroll .tblList { width: 100%; max-width: 100%; border: 1px solid #c0c0c0; border-spacing: 0; border-collapse: collapse; box-sizing: border-box; }

.target_scroll .tblList tr th { padding: 4px; border: 1px solid #c0c0c0; font-weight: normal; background: #dfe9ed; background: linear-gradient(to bottom, #dfe9ed 0%, #cad9e1 41%, #bfd1db 100%); color: #555; box-shadow: inset 1px 1px 0 #fff; vertical-align: inherit; }

.target_scroll .tblList tr td { padding: 4px; border: 1px solid #c0c0c0; vertical-align: inherit; }

.target_scroll .txt_merge { display: inline-block; overflow: hidden; max-width: 170px; text-overflow: ellipsis; white-space: nowrap; word-break: break-all; }

.target_scroll .txt_date { color: #666; letter-spacing: -1px; }

.target_scroll .btnAddTarget { display: none; width: 49px; height: 29px; border: none; background: url(../img/img_button1.png) no-repeat; cursor: pointer; }

.target_scroll .btnAddTarget:hover { background: url(../img/img_button1_hover.png) no-repeat; }

.target_scroll .btnAddTarget:focus { background: url(../img/img_button1_hover.png) no-repeat; }

.target_scroll .btnMore { display: block; width: 200px; height: 29px; margin: 10px auto; border: none; background: url(../img/img_button6.png) no-repeat; cursor: pointer; }

.target_scroll .btnMore:hover { background: url(../img/img_button6_hover.png) no-repeat; color: #fff; }

.target_scroll .btnMore:focus { background: url(../img/img_button6_hover.png) no-repeat; color: #fff; }

.wrap_center .tbl_layout { width: 100%; max-width: 100%; background-color: transparent; box-sizing: border-box; }

.wrap_center .tbl_layout > tbody > tr > td { padding: 1px 0; line-height: 1.4; vertical-align: inherit; }
*/






/*.wrap_left .divAddtarget,
.wrap_center .divAddtarget { padding: 5px; border: 1px solid #ddd; border-top: 0; background: #fff; }

.wrap_left .divAddtarget .tblSummary,
.wrap_center .divAddtarget .tblSummary { width: 100%; max-width: 100%; border: 1px solid #ddd; border-spacing: 0; border-collapse: collapse; background: #fff; box-sizing: border-box; }

.wrap_left .divAddtarget .tblSummary > tbody > tr > th,
.wrap_center .divAddtarget .tblSummary > tbody > tr > th { padding: 4px; border: 1px solid #ddd; background: #ddd; vertical-align: inherit; }

.wrap_left .divAddtarget .tblSummary > tbody > tr > td,
.wrap_center .divAddtarget .tblSummary > tbody > tr > td { padding: 8px; border: 1px solid #ddd; vertical-align: inherit; }

.wrap_left .divAddtarget .txtAddTarget,
.wrap_center .divAddtarget .txtAddTarget { display: inline-block; width: 100%; height: 30px; padding: 3px 5px; line-height: 1.4; border: 1px solid #ccc; color: #333; box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075); box-sizing: border-box; width: 120px; }

.wrap_left .divAddtarget .btnAddTarget,
.wrap_center .divAddtarget .btnAddTarget { width: 49px; height: 29px; border: none; background: url(../img/img_button1.png) no-repeat; cursor: pointer; }

.wrap_left .divAddtarget .btnAddTarget:hover,
.wrap_center .divAddtarget .btnAddTarget:hover { background: url(../img/img_button1_hover.png) no-repeat; }

.wrap_left .divAddtarget .btnAddTarget:focus,
.wrap_center .divAddtarget .btnAddTarget:focus { background: url(../img/img_button1_hover.png) no-repeat; }
*/


/* 

.wrap_right .wrap_info { border: 1px solid #ddd; background: #FFF; padding: 0 10px; margin-top: 10px; }

.wrap_right .wrap_info ul li { border-top: 1px dashed #BFBFBF; padding: 7px 0; }

.wrap_right .wrap_info ul li:first-child { border-top: 0px; }

.wrap_right .wrap_info dl { margin: 0; line-height: 24px; }

.wrap_right .wrap_info dl dt { float: left; text-align: left; }

.wrap_right .wrap_info dl dd { text-align: right; margin: 0; }

.wrap_right .wrap_info .count EM { color: #2F75B5; font-weight: bold; }

.wrap_right .wrap_info .tsIntegerPart { color: #C00000; }

.wrap_right .wrap_info .tsDecimalPart { color: #808080; }

.wrap_right .wrap_info .tsPointPart { color: #2F75B5; }

.wrap_right .wrap_info .titleUnderline { border-bottom: 1px solid #BFBFBF; margin-bottom: 10px; padding-bottom: 5px; }

.wrap_right .wrap_info .boldTitle { font-size: 15px; font-weight: bold; }

.wrap_right .wrap_info .blueBoldText { font-size: 15px; }

.wrap_right2 .wrap_info { border: 1px solid #ddd; background: #FFF; padding: 0 10px; margin-top: 10px; }

.wrap_right2 .wrap_info ul li { border-top: 1px dashed #BFBFBF; padding: 7px 0; }

.wrap_right2 .wrap_info ul li:first-child { border-top: 0px; }

.wrap_right2 .wrap_info dl { margin: 0; padding-left: 79px; line-height: 24px; }

.wrap_right2 .wrap_info dl dt { float: left; width: 79px; margin-left: -79px; text-align: left; font-size: 12px; }

.wrap_right2 .wrap_info dl dd { text-align: right; margin: 0; }

.wrap_right2 .wrap_info .copyright { color: #808080; margin-bottom: 7px; }

.wrap_right2 .wrap_info .number { font-weight: bold; color: #c00000; } */

/*.wrap_popup { margin: 0 15px; }

.wrap_popup .tbl_layout { width: 100%; max-width: 100%; margin-top: 10px; background-color: transparent; box-sizing: border-box; }

.wrap_popup .tbl_layout > tbody > tr > td { padding: 1px 0; line-height: 1.4; vertical-align: inherit; }

.wrap_popup .tbl_callernumber { width: 100%; max-width: 100%; border: 1px solid #c0c0c0; border-spacing: 0; border-collapse: collapse; box-sizing: border-box; }

.wrap_popup .tbl_callernumber tr:hover { background: #e0e0e0; }

.wrap_popup .tbl_callernumber tr th { padding: 4px; border: 1px solid #c0c0c0; background: #dfe9ed; background: linear-gradient(to bottom, #dfe9ed 0%, #cad9e1 41%, #bfd1db 100%); box-shadow: inset 1px 1px 0 #fff; vertical-align: inherit; }

.wrap_popup .tbl_callernumber tr td { padding: 8px; border: 1px solid #c0c0c0; vertical-align: inherit; }

.wrap_popup .tbl_boxstyle { width: 260px; padding: 5px; border: 1px solid #c0c0c0; border-spacing: 0; border-collapse: collapse; box-sizing: border-box; }

.wrap_popup .tbl_boxstyle tr th { padding: 4px; background: #ddd; vertical-align: inherit; }

.wrap_popup .tbl_boxstyle tr td { padding: 4px; vertical-align: inherit; }

.wrap_popup .tf_callernumber { display: inline-block; width: 100%; height: 30px; padding: 3px 5px; line-height: 1.4; border: 1px solid #ccc; color: #333; box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075); box-sizing: border-box; width: 120px; }

.wrap_popup .callcursor { font-weight: bold; color: #2F75B5; cursor: pointer; }

.wrap_popup .link_info:hover { color: #C00000; }

.wrap_popup .btn_save { width: 86px; height: 29px; border: none; background: url(../img/img_button2.png) no-repeat; cursor: pointer; }

.wrap_popup .btn_save:hover { background: url(../img/img_button2_hover.png) no-repeat; }

.wrap_popup .btn_save:focus { background: url(../img/img_button2_hover.png) no-repeat; }

.wrap_popup .btn_new { width: 86px; height: 29px; border: none; background: url(../img/img_button2.png) no-repeat; cursor: pointer; }

.wrap_popup .btn_new:hover { background: url(../img/img_button2_hover.png) no-repeat; }

.wrap_popup .btn_new:focus { background: url(../img/img_button2_hover.png) no-repeat; }

.wrap_popup .line_style { border: 0; height: 1px; background: #ddd; }

.wrap_popup .list_desc { margin: 10px 0; font-size: 13px; }

.wrap_popup .list_desc li { margin-left: 18px; list-style: disc; }*/

/* .check-img { position: absolute; width: 140px; height: 140px; color: #777; text-align: center; padding-top: 50px; background-image: url("../img/small_loading.gif"); } */

.list_thumbnail { display: block; overflow: hidden; margin-left: -5px; }

.list_thumbnail:before { content: " "; display: table; }

.list_thumbnail:after { content: " "; display: table; clear: both; }

.list_thumbnail li { float: left; margin-bottom: 10px; }

.list_thumbnail li .box_thumbnail { display: block; overflow: hidden; width: 150px; height: 150px; margin: 0 5px 5px 5px; padding: 4px; background-color: #ffffff; border: 1px solid #dddddd; border-radius: 4px; -webkit-transition: border 0.2s ease-in-out; -o-transition: border 0.2s ease-in-out; transition: border .2s; }

.list_thumbnail li .box_thumbnail .thumb_comm { display: table-cell; width: 140px; height: 140px; text-align: center; cursor: pointer; vertical-align: middle; }

.list_thumbnail li .box_thumbnail .thumb_comm > img { width: auto; max-width: 140px; height: auto; max-height: 140px; }

.list_thumbnail li .box_thumbnail .thumb_update { overflow: hidden; width: 140px; height: 140px; }

.list_thumbnail li .box_thumbnail_goods { position: relative; display: block; overflow: hidden; width: 140px; height: 140px; margin: 0 5px 5px 5px; padding: 4px; background-color: #ffffff; border: 1px solid #dddddd; border-radius: 4px; -webkit-transition: border 0.2s ease-in-out; -o-transition: border 0.2s ease-in-out; transition: border .2s; }

.list_thumbnail li .box_thumbnail_goods .thumb_goods { display: table-cell; width: 130px; height: 130px; text-align: center; cursor: pointer; vertical-align: middle; }

.list_thumbnail li .box_thumbnail_goods .thumb_goods > img { width: auto; max-width: 130px; height: auto; max-height: 130px; }

.list_thumbnail li .box_thumbnail_goods .btn_empty { position: absolute; top: 5px; right: 5px; cursor: pointer; }

.list_thumbnail li .box_thumbnail_smms { display: block; position: relative; width: 70px; height: 70px; margin: 12px 15px -10px 5px; padding: 4px; background-color: #ffffff; border: 1px solid #dddddd; border-radius: 4px; -webkit-transition: border 0.2s ease-in-out; -o-transition: border 0.2s ease-in-out; transition: border .2s; }

.list_thumbnail li .box_thumbnail_smms img { width: 100%; height: 100%; }

.list_thumbnail li .box_thumbnail_smms .btn_close { display: block; position: absolute; top: 0px; right: 0; width: 24px; height: 24px; margin-top: -12px; margin-right: -12px; border-radius: 50%; background-color: #999; color: #dddee0; }

.list_thumbnail li .box_thumbnail_smms .btn_close:hover { background-color: #666; }

.list_thumbnail li .box_thumbnail_smms .btn_close:active { background-color: #666; }

.list_thumbnail li .box_thumbnail_info { margin: 0 5px 10px 5px; padding: 4px; }

.list_thumbnail li .box_thumbnail_info .txt_imagename { overflow: hidden; width: 140px; font-size: 12px; margin-bottom: 5px; text-overflow: ellipsis; white-space: nowrap; }

.list_thumbnail li .btn_changeimage { display: block; margin-top: 58px; width: 30px; height: 24px; outline: none; }

.list_thumbnail li .btn_goodsimg { min-width: 70px; border-color: #ccc; border-radius: 0; color: #333; min-width: 50px; padding: 5px 3px; }

.list_thumbnail li .btn_goodsimg:hover { border-color: #adadad; background-color: #e6e6e6; }



/** 도움말 레이어창 **/
.help__linkimg { display: inline-block; width: 16px; height: 16px; margin-top: 3px; background: url("../img/ico_help.png") no-repeat; vertical-align: top; }

.help__linkimg:hover .help__cont { display: block; }

.help__cont { display: none; position: absolute; margin: 19px 0; padding: 10px; border: 1px solid #ddd; border-radius: 5px; background: #fff; z-index: 10; }

.help__cont > dl > dt { font-size: 13px; font-weight: bold; }

.help__cont > dl > dd { font-size: 12px; color: #777; }

.help2__linkimg { display: inline-block; position: absolute; right: 0; width: 16px; height: 16px; margin-top: 3px; background: url("../img/ico_help.png") no-repeat; vertical-align: top; }

.help2__linkimg:hover .help2__cont { display: block; }

.help2__cont { display: none; position: absolute; width: 350px; margin: 19px 0; padding: 10px; border: 1px solid #ddd; border-radius: 5px; background: #fff; z-index: 10; }

.help2__cont > dl > dt { font-size: 13px; font-weight: bold; }

.help2__cont > dl > dd { font-size: 12px; color: #777; }


.layerpopup__box { position: absolute; top: 0; left: 0; width: 600px; margin-top: 250px; margin-left: 270px; padding: 30px; border: 1px solid #999; background: #fff; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-sizing: border-box; }

.layerpopup__tit { font-size: 16px; font-weight: 600; }

.layerpopup__tit:before { content: ''; display: inline-block; width: 10px; height: 10px; margin-right: 5px; background: #333; }

.layerpopup__txt { margin-top: 15px; }

.layerpopup__close { position: absolute; top: 15px; right: 15px; }




.templatepreview{display: block; font-size: 14px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333; text-align: left; line-height: 1.5; }
.templatepreview__wrap{margin: 0 10px; padding: 10px 20px 20px; background: #b2c7da;}
.templatepreview__box{position: relative; height: 260px; margin-top: 4px; border-radius: 8px; background: #fff;}
.templatepreview__box:before{content: '알림톡 도착'; display: block; padding: 8px 10px; border-radius: 5px 5px 0 0; background: #ffeb33;}
.templatepreview__box:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -15px;
    right: -11px;
    width: 26px;
    height: 26px;
    background: url(/TKakao/img/ico_kakao.png) no-repeat;
}
.templatepreview__txt{overflow: hidden; height:200px; margin: 10px; font-size: 13px;}
.templatepreview__btngroup {position: absolute; right: 0; bottom: 0; left: 0; background: #fff;}
.templatepreview__btn{ margin:12px; padding: 6px; border-radius: 4px; text-align: center; background: #dadde4;}





	
        .linkpopup__thumb label,
        .linkpopup__thumb img
         { width:100%; height:100%; }
        .divAddtarget {padding:5px;border:1px solid #ddd;border-top:0;background:#fff}
        .divAddtarget .tblSummary {width:100%;max-width:100%;border:1px solid #ddd;border-spacing:0;border-collapse:collapse;background:#fff;box-sizing:border-box}
        .divAddtarget .tblSummary>tbody>tr>th{padding:4px;border:1px solid #ddd;background:#ddd;vertical-align:inherit}
        .divAddtarget .tblSummary>tbody>tr>td{padding:8px;border:1px solid #ddd;vertical-align:inherit}
        .divAddtarget .txtAddTarget{display:inline-block;height:30px;padding:3px 5px;line-height:1.4;border:1px solid #ccc;color:#333;box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-sizing:border-box;width:120px}
        .divAddtarget .btnAddTarget{width:49px;height:29px;border:none;background:url(../img/img_button1.png) no-repeat;cursor:pointer}
        .divAddtarget .btnAddTarget:focus,.divAddtarget .btnAddTarget:hover{background:url(../img/img_button1_hover.png) no-repeat}         
        .preview__sendbtn { cursor:pointer; }
        
        .wrap_left .divMergeWrap .divMergeList{display:none;position:absolute;right:auto; left:180px;top:-1px;border:1px solid #999;border-radius:5px;background:#fff;padding:10px;z-index:2}
        .emoji__box { width:451px; }
        
        /*.wrap_left .divLinkWrap { position:relative; }
        .wrap_left .divLinkWrap .divLinkList { display:none; position:absolute; margin-left:470px; width:650px; height:500px; top:-300px; border:1px solid #999;border-radius:5px;background:#fff;padding:10px;z-index:20; }*/
        .wrap_left .divLinkWrap { position:absolute; top:190px; }
        .wrap_left .divLinkWrap .divLinkList { display:none; position:absolute; margin-left:-50px; width:940px; height:700px; top:-150px; border:1px solid #999;border-radius:5px;background:#fff;padding:10px;z-index:20; }
        
        .wrap_right .wrap_info dl dd{ font-size:13px; letter-spacing:-1px; }
        
        .divBackground { display:none;position:fixed;top:0;left:0;bottom:0;right:0;z-index:1; } 
        .preview__phone { height:510px; }
        .preview__mssgwrap { height:480px; }
        .preview__txt { word-wrap: break-word; }
        
        .help__linkimg:hover .help__cont2 {display:block}
        .help__cont2 {display:none;position:absolute;margin:19px 0; width:300px; bottom:0; padding:10px;border:1px solid #ddd;border-radius:5px;background:#fff;z-index:10;box-shadow:0 6px 12px rgba(0,0,0,.175);box-sizing:border-box}
        
        
        .txtEasyPayAmount {display:inline-block;height:30px;padding:3px 5px;line-height:1.4;border:1px solid #ccc;color:#333;box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-sizing:border-box;width:120px}
        #divPaypwd { position:absolute; right:0; width:372px; z-index:2; display:none; border:1px solid #999;border-radius:3px;background:#fff;padding: 0;  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)}
        #divPaypwd .header {position: relative; height: 45px;border-top: 1px solid #2f3545; border-bottom: 1px solid #292e3a; background: #343a49 url(/Common/img/pay/bg_header.png) no-repeat 100% 0; }
        #divPaypwd .sr_only{overflow:hidden;line-height:999px}
        #divPaypwd .close {position: absolute; right: 2px; top: 2px; width: 40px;height: 40px; background: url(/Common/img/pay/icon_x.png) no-repeat 0 0; }    
    	
    	
        #divLayerPopup { display: none; position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 10; }
        #divLayerPopup .divMsg { overflow:hidden; position: absolute; left: 20%; top: 15%; margin-left: -100px; margin-top: -100px; padding: 0; border-radius: 5px; background: #fff; }
        #divLayerPopup .divMsg span { display:block; max-height:95%; overflow-y:scroll; }
        #divLayerPopup .divMsg img { max-width:500px; height:auto; }
        #divLayerPopup .btnClose { position:absolute; top:0; right:0; width:53px; cursor:pointer; }
        #divLayerPopup .divNotToday { margin-top:0px; border-top:1px solid #000; }
        
        
    .free__btn {border: 1px solid #9d9d9d; background: #2c5aa7; color: #fff; }
    .free__btn:hover {background: #dfdfdf; color:#333;}