@charset "UTF-8";
@import "tailwindcss";

:root { --primary-color: #26499d; }

html,body { font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; color:#333333; font-weight: 500 }
/* 상위 iframe 의 크기가 1900px 이며, 내부 html의 크기는 1880px로 설정해야 아래쪽 스크롤이 이중으로 생기지 않음 */
html {@apply min-w-470; }

/* input[type="file"]::file-selector-button { background-color: #2c5aa7;
  color: #fff;              
  border: none;
  padding: 3px 8px 5px;
  margin: -3px 5px -3px -5px;
  border-radius: 5px;
  cursor: pointer; }
input[type="file"]::file-selector-button:hover { background-color: #253c6c; } */

.switch_comm { position: relative; display: inline-block; width: 34px; height: 21px; }
.switch_comm input { opacity: 0; width: 0; height: 0; }
.switch_slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ff8f79; border-radius: 10px; transition: 0.3s; }
.switch_slider:before { position: absolute; content: ""; height: 15px; width: 15px; left: 16px; bottom: 3px; background-color: white; border-radius: 50%; transition: 0.3s; }
/* 켜진 상태 (On) */
input:checked + .switch_slider { background-color: #2196F3; /* 활성화 색상 */ }
input:checked + .switch_slider:before { transform: translateX(-13px); /* 버튼 이동 */ }
.divLoading { position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 3; width: 100%; height: 100%; background: #fff; opacity: 0.7; text-align: center; }
.divLoading img { z-index: 5; width: 500px; margin-top: 200px;}



/* 공통 탭  */
.page-shell { @apply flex flex-col w-full h-full bg-gray-50; }
.page-content { @apply flex-1 flex flex-col; }
.page-tabs { @apply sticky top-0 z-10 w-full bg-white shadow; }
.page-tab-inner { @apply relative flex h-11 mt-auto px-4; }
.page-tab-inner > ul { @apply static flex; }
.page-tab-inner > ul > li { @apply flex; }
.page-tab-inner > ul > li > a { @apply static flex px-3 mt-auto pb-1 border-b-6 border-transparent text-gray-600 no-underline whitespace-nowrap cursor-pointer; }
.page-tab-inner > ul > li > a:hover { @apply border-gray-200 text-gray-800; }
.page-tab-inner > ul > li > a.selected { @apply font-bold border-gray-800; }

/* 페이지 정보표시 */
.page-title-box { @apply flex items-center gap-1 mb-4; }
.page-title { @apply flex items-center gap-2 mr-auto font-bold text-gray-800; }
.page-info-box { @apply flex items-center gap-2 py-2 px-4 bg-blue-50 mb-4; }

/* 설정 그룹 */
.setting-group { @apply flex flex-col gap-5; }

/* 공통 레이아웃 UI */
.wrap-layout { @apply flex-1 flex min-h-0; }
.full-contents-layout { @apply flex-1 flex flex-col min-h-0 p-6 bg-white; }
.side-contents-layout { @apply sticky top-11 self-start flex shrink-0 flex-col w-160 h-full max-h-[calc(100dvh-(var(--spacing)*15))] min-[1900px]:max-h-[calc(100dvh-(var(--spacing)*11))] p-6 border-r border-gray-300 bg-white overflow-y-auto; 
  /* height: calc(100dvh - (var(--spacing) * 11)) */
}
.main-contents-layout { @apply relative flex flex-col w-full; }

/* 공통 미리보기 UI */
.preview-wrap { @apply relative flex flex-col w-full; }
.preview-panel { @apply flex-1 flex flex-col bg-gray-50 min-h-0; }
.preview-card { @apply flex h-full flex-col overflow-y-auto bg-white p-6 shadow-sm; }

/* 공통 입력폼 */
.form-select { @apply flex items-center min-w-30 h-8 border border-gray-300 rounded p-1 pl-1 pr-3 text-sm bg-gray-50; }
.form-input { @apply flex items-center h-8 border border-gray-300 rounded p-2 inset-shadow-2xs; }
.form-text-byte { @apply flex items-center ml-auto text-sm tracking-tight text-gray-400; }
.form-text-byte > span { @apply text-gray-600 mr-1; }
.form-textarea { @apply w-full border border-gray-300 rounded p-2 inset-shadow-2xs; }
.button-group { @apply flex gap-1; }
.templat-view-btn { @apply flex items-center justify-center px-3 py-2 border border-[#26499d] rounded bg-[#26499d] text-white cursor-pointer; }
.templat-view-btn:hover { @apply bg-[#1c3c7a]; }

/* 공통 버튼 */
.line-btn { @apply flex items-center justify-center px-2 py-1 border border-gray-300 rounded bg-white text-sm cursor-pointer; }
.line-btn .line-btn-name { @apply flex items-center gap-1; }
.line-btn:hover { @apply bg-gray-100; }
.line-btn:active, .line-btn.selected { @apply border-gray-600 bg-gray-600 text-white; }

.base-btn { @apply flex items-center justify-center px-3 py-1 border border-gray-300 rounded text-sm bg-gray-50 cursor-pointer; }
.base-btn:hover { @apply bg-gray-100; }
.base-btn:active, .base-btn.selected { @apply bg-gray-200; }

.point-btn-blue { @apply flex items-center justify-center px-3 py-1 border border-[#26499d] rounded bg-[#26499d] text-white text-sm cursor-pointer; }
.point-btn-blue:hover { @apply bg-[#1c3c7a]; }
.point-btn-blue:active, .point-btn-blue.selected { @apply bg-[#162d5a]; }

.small-btn { @apply flex items-center justify-center px-2 py-1 border border-gray-300 rounded text-sm bg-gray-50 cursor-pointer; }
.small-btn:hover { @apply bg-gray-100; }
.small-btn:active, .small-btn.selected { @apply bg-gray-200; }

.lage-btn { @apply flex items-center justify-center px-4 py-2 border border-gray-300 rounded text-sm bg-gray-50 cursor-pointer; }
.lage-btn:hover { @apply bg-gray-100; }
.lage-btn:active, .lage-btn.selected { @apply bg-gray-200; }

/* 공통 테이블 그리드 */
.grid-table { @apply inline-grid w-full my-2 bg-gray-200 gap-px border border-gray-300 text-sm; }
.grid-table > div {  @apply flex w-full h-full items-center px-1 bg-gray-50; }
.grid-table .grid-table-th { @apply justify-center; }
.tf_comm_excel { @apply flex p-1 w-full h-full border-none text-gray-800 bg-white; }
.grid-table .chk_comm { @apply size-3 mr-1; }
.col-toggle-btn { @apply flex items-center h-9 border border-gray-300 px-2 py-1 rounded bg-gray-50 cursor-pointer; }
.col-toggle-btn.selected { @apply border-gray-600 bg-gray-600 text-white; }
.upload-drop-btn { @apply flex items-center p-6 border border-gray-300 rounded-xl; }
.upload-hint-box { @apply flex flex-col w-full text-sm text-gray-500 p-2 border border-gray-300 rounded-xl text-center; }

/* 공통 페이징 영역 */
.pagination { @apply flex justify-center items-center gap-2 mt-4 bg-white; }
.pagination__list { @apply flex gap-1; }
.pagination button { @apply px-3 py-1 border border-gray-300 rounded text-sm bg-gray-50 cursor-pointer; }
.pagination button:hover { @apply bg-gray-100; }
.pagination button:active { @apply bg-gray-200; }
.pagination button.disabled, .pagination button:disabled { @apply bg-gray-100 text-gray-200; }




/* ts머니&포인트 화면 */
/* ts 머니 위치 */
.ts-wrap { @apply w-80 shrink-0 p-4 bg-gray-50; }
.ts-sticky { @apply sticky top-11 flex flex-col gap-4; }
.ts-card { @apply flex flex-col gap-1 rounded-lg border border-gray-200 bg-white p-4 shadow-xs; }

/* ts머니 영역 스타일 */
.ts-title { @apply flex items-center gap-2 text-gray-900 text-base font-bold; }
.ts-text-small { @apply text-sm font-medium; }
.ts-button { @apply flex items-center justify-center ml-2 p-1 border text-xs font-medium border-gray-300 rounded bg-gray-50; }
.ts-info-box { @apply flex flex-col gap-1; }
.ts-info-box > dl { @apply flex justify-between items-center text-sm; }
.ts-info-box > dt { @apply font-semibold; }
.ts-info-box > dd { @apply text-gray-200; }
.ts-info-box > dd > span { @apply text-gray-300; }
.ts-inner-box { @apply bg-blue-700 text-white p-2; } 
.ts-hr { @apply my-2 border-0 border-t border-gray-100; }
.ts-hr-dashed { @apply my-2 border-0 border-t border-dashed border-gray-100; }
.ts-bank{ @apply flex items-center gap-2 text-lg font-bold text-[#26499d]; }
.ts-tel,.ts-fax { @apply flex ; }
.ts-tel > span,.ts-fax > span { @apply ml-auto text-gray-500; }
.ts-copyright { @apply text-gray-500 text-sm; }


/* 이미지관리 */
.itemlist { @apply grid grid-cols-5 gap-2; }
.itemlist > .item { @apply relative overflow-hidden flex flex-col items-center gap-2 p-2 border border-gray-200 rounded bg-white ; }
.itemlist > .item.selected { @apply border-2 border-[#26499d]; }
.itemlist > .item > .item__imgbox { @apply flex items-center justify-center size-33 p-1 bg-gray-50 border border-gray-100 rounded; }
.itemlist > .item > .item__imgbox > .thumb__img { @apply max-w-full max-h-full; }
.itemlist > .item > .item__txtbox { @apply flex-1 flex flex-col w-full gap-1; }
.itemlist > .item > .item__txtbox > .item__badge { @apply text-sm; }
.itemlist > .item > .item__txtbox > .item__txt { @apply text-sm; }
.itemlist > .item > .item__hoverbox { @apply absolute inset-0 flex flex-col items-center justify-center gap-1 text-gray-600 bg-black/50 transition-opacity duration-300 ease-in-out opacity-0 hover:opacity-100; }
.itemlist > .item > .item__hoverbox > .item__hoverbtn { @apply flex items-center justify-center w-20 mx-auto px-2 py-1 text-sm rounded bg-white text-gray-800 cursor-pointer; }

.aiimage-btn { @apply flex items-center justify-center px-3 py-1 border border-gray-300 rounded bg-gray-50 text-sm cursor-pointer; }
.aiimage-regenerate-btn { @apply flex items-center justify-center px-3 py-1 border border-gray-300 rounded bg-gray-50 text-sm cursor-pointer; }
.aiimage-preview-imgbox { @apply flex justify-center items-center size-120 mx-auto bg-gray-100 border-b border-gray-100; }
.aiimage-btn-group { @apply flex justify-center items-center gap-2 my-3; }

.aiimage-info-box { @apply flex flex-col gap-2; }
.aiimage-info-box > dl { @apply flex items-center gap-2; }
.aiimage-info-box > dl > dt { @apply flex w-20; }
.aiimage-info-box > dl > dd { @apply flex; }


/* 이용현황 페이지 */
/* 이용현황 검색 영역 */
.search-content { @apply flex flex-col justify-center gap-2; }
.search-opt { @apply flex items-center gap-2; }
.search-result { @apply  flex items-center gap-3 text-gray-700; }
.search-btn { @apply flex items-center justify-center px-3 py-1 border border-gray-300 rounded text-sm bg-gray-50 cursor-pointer; }
.search-btn:hover { @apply bg-gray-100; }
.search-btn:active { @apply bg-gray-200; }
.search-input-text { @apply flex h-8 border border-gray-300 rounded p-2 text-sm inset-shadow-2xs; }
.search-select { @apply flex items-center min-w-30 h-8 border border-gray-300 text-sm rounded p-1 pl-1 pr-3 bg-gray-50; }
.search-select select { @apply bg-transparent border-none outline-none appearance-none; }
.search-btn-blue { @apply flex items-center justify-center px-3 py-1 border border-[#26499d] rounded bg-[#26499d] text-white text-sm cursor-pointer; }

/* 이용현황 테이블 영역 */
.statice-tbl-wrap { @apply w-full overflow-x-auto my-2 border border-gray-200 bg-gray-200; }
.statice-tbl { @apply w-auto border-spacing-0 border-collapse bg-white break-all whitespace-nowrap; }
.statice-tbl th { @apply px-3 py-1 border border-gray-300 font-normal bg-gray-200 text-gray-600 text-center; }
.statice-tbl td { @apply px-3 py-1 border border-gray-300 text-gray-600; }















/* AI POP 생성창 */



.ai_crt_attach { position: absolute; top: 0; right: 0; width: 200px; height: 200px; object-fit: cover; }
div.ai_crt_attach { display: flex; background: #fff; border: 1px dashed #ccc; border-radius: 5px; justify-content: center; align-items: center;}
img.ai_crt_attach { border: 1px solid #ccc; border-radius: 5px;}

.ai_crt_box {}
/* .ai_crt_box--gray { background: #f9f9f9; border: 1px solid #eee; }
.ai_crt_box--white {@apply bg-white border border-gray-300;} */
.ai_crt_box_btn {@apply px-3 py-1 border border-gray-300 rounded-lg text-left;}
.ai_crt_box_btn:hover { background: #e8e8e8; text-decoration: none; }
.ai_crt_box_btn.selected { background: #2c5aa7; color: #fff; border: 1px solid #2c5aa7;}
.ai_crt_box_btn.selected > .ai_crt_info--small { color:#fff; }
.ai_crt_box_btn.selected > .ai_crt_grid_container > .ai_crt_grid_item {background: #fff; border-radius:3px;}
.ai_crt_box_btn.selected:hover { background: #2c5aa7; text-decoration: none; }
.ai_crt_box_btn.disabled {background: #6a6a6a; color: #fff; border: 1px solid #808080;}

.ai_crt_fieldset { position: relative;}

.ai_crt_functionbox_row { @apply flex items-center gap-1 my-2}
.ai_crt_functionbox_col { @apply flex flex-col gap-1 my-2}

.ai_crt_layerbox_col { display: flex; flex-direction: column; justify-content: flex-start; align-items: stretch; gap: 1px; background: #a8a8a8; width:165px; height: 123px; overflow-x: hidden; overflow-y: auto; margin-top:5px; padding: 1px; }
.ai_crt_layerbox_btn { width: 100%; padding: 0; border: none; background: #fff;}
.ai_crt_layerbox_btn:hover { background: #e8e8e8; text-decoration: none; }
.ai_crt_layerbox_btn.selected { background: #2c5aa7; color: #fff;}

.ai_crt_grid_container {display: grid; gap: 3px; width: 60px; height: 60px; justify-self:center; margin-bottom: 5px;}
.ai_crt_grid21 {grid-template-rows: repeat(2, 1fr); grid-template-columns: repeat(1, 1fr);}
.ai_crt_grid22 {grid-template-rows: repeat(2, 1fr); grid-template-columns: repeat(2, 1fr);}
.ai_crt_grid32 {grid-template-rows: repeat(3, 1fr); grid-template-columns: repeat(2, 1fr);}
.ai_crt_grid42 {grid-template-rows: repeat(4, 1fr); grid-template-columns: repeat(2, 1fr);}
.ai_crt_grid_item {background: #ddd; border-radius:3px;}


/* 상품데이터 테이블 */
.ai_crd_goods_grid { @apply text-sm inline-grid bg-gray-300 gap-[1px] border border-gray-300; }
.ai_crd_goods_grid > div { 
  @apply w-full h-full bg-white flex justify-center items-center; }

.ai_crd_goods_grid .chk_comm { @apply size-3 mr-1; }


.ai_crt_info { @apply text-sm font-bold }
.ai_crt_info--small { @apply text-sm text-gray-500;}

.ai_crt_preview {@apply flex-1 overflow-hidden;}
.ai_crt_preview_paper { @apply flex flex-col items-center justify-start bg-white border border-gray-300 box-border my-2 p-1 transition-all duration-400 ease-out; }
.ai_crt_preview_title { @apply w-full mb-1 p-2 rounded border border-dashed border-gray-300 text-gray-300 text-center box-border;}
.ai_crt_preview_grid { @apply grid w-full h-full gap-1 box-border;}
.ai_crt_preview_goods { @apply border border-dashed border-gray-300 rounded p-1 text-sm;}

.excel_goods_name { color: #333; font-weight: bold; margin-right: 3px}
.excel_goods_barcode { color: #aaa;}
.excel_goods_sale_price { display: inline-block; color: #aaa; text-decoration: line-through; margin-right: 3px; }
.excel_goods_dc_price { display: inline-block; color: #f55; font-weight: bold;}
.excel_goods_dc_rate { display: inline-block; }
.empty { color: #aaa !important;}

.ai_crt_preview_frame { position: relative; width: 840px; height: 840px; background: #ccc; box-sizing: border-box; transform-origin: top left;}
.ai_crt_canvas_editor { position: absolute; top: 20px; left: 137px; background: #fff; overflow: hidden; z-index: 1; }
.ai_crt_canvas_cover { position: absolute; background: #ccccdd; opacity: 0.5; z-index: 2; }
.ai_crt_canvas_cover.on { background: #ddcccc; }
.ai_crt_canvas { position: absolute; top: 20px; left: 137px; background: #fff; display: grid; box-sizing: border-box; z-index: 0; }
.ai_crt_layer { position: absolute; user-select: none; box-sizing: border-box; border: 1px dashed transparent; }
.ai_crt_layer.selected { border: 1px dashed #3498db; cursor: move; }
.ai_crt_layer.selected .ai_crt_layer_handle, .ai_crt_layer.selected .ai_crt_layer_rotate { display: block; }
.ai_crt_layer_handle, .ai_crt_layer_rotate { display: none; position: absolute; width: 10px; height: 10px; background: #fff; border: 2px solid #3498db; box-sizing: border-box; }
.ai_crt_layer_handle.h-n  { top: -5px; left: calc(50% - 5px); cursor: n-resize; z-index: 10; }
.ai_crt_layer_handle.h-s  { width: 20px; height: 6px; border-radius: 3px; bottom: -3px; left: calc(50% - 10px); cursor: s-resize; z-index: 10; }
.ai_crt_layer_handle.h-w  { width: 6px; height: 20px; border-radius: 3px; left: -3px; top: calc(50% - 10px); cursor: w-resize; z-index: 10; }
.ai_crt_layer_handle.h-e  { width: 6px; height: 20px; border-radius: 3px; right: -3px; top: calc(50% - 10px); cursor: e-resize; z-index: 10; }
.ai_crt_layer_handle.h-nw { top: -5px; left: -5px; cursor: nwse-resize; z-index: 10; }
.ai_crt_layer_handle.h-ne { top: -5px; right: -5px; cursor: nesw-resize; z-index: 10; }
.ai_crt_layer_handle.h-sw { bottom: -5px; left: -5px; cursor: nesw-resize; z-index: 10; }
.ai_crt_layer_handle.h-se { bottom: -5px; right: -5px; cursor: nwse-resize; z-index: 10; }
.ai_crt_layer_rotate { top: -20px; left: calc(50% - 5px); border-radius: 5px; cursor: url('../img/img_sync_20x20.png') 10 10, alias; z-index: 10; }
.ai_crt_layer_rotate::after { content: ""; display: block; height: 12px; border-left: 2px solid #3498db; margin: 6px 2px 0 2px; }
.ai_crt_layer_content { width: 100%; height: 100%; }
.ai_crt_layer_content svg { width: 100%; height: 100%; display: block; }
.ai_crt_layer_content div { height: 100%; overflow: hidden; box-sizing: border-box }

.ai_crt_custom_menu { position: absolute; background:#fff; border: 1px solid #e5e7eb; border-radius:5px; box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06); padding: 4px 0;z-index: 9999;}
.ai_crt_custom_menu > li { padding: 8px 10px; cursor: pointer; list-style: none;}
.ai_crt_custom_menu > li:hover { background: #f3f4f6; color: #2563eb;}

.popup_layer { position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 3; width: 100%; height: 100%; }
.popup_layer div.popup_background { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #333; opacity: 0.3; }
.popup_layer div.popup_content { position: absolute; background: #fff; z-index: 4; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 15px; border-radius: 5px; box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3); }


/* 

.list_thumbnail { display: block; overflow: hidden; margin-left: -5px; }

.list_thumbnail:before { content: " "; display: table; }

.list_thumbnail:after { content: " "; display: table; clear: both; }

.list_thumbnail li { float: left; margin-bottom: 10px; }

.list_thumbnail li .box_thumbnail { display: block; overflow: hidden; width: 150px; height: 150px; margin: 0 5px 5px 5px; padding: 4px; background-color: #ffffff; border: 1px solid #dddddd; border-radius: 4px; -webkit-transition: border 0.2s ease-in-out; -o-transition: border 0.2s ease-in-out; transition: border .2s; }

.list_thumbnail li .box_thumbnail .thumb_comm { display: table-cell; width: 140px; height: 140px; text-align: center; cursor: pointer; vertical-align: middle; }

.list_thumbnail li .box_thumbnail .thumb_comm > img { width: auto; max-width: 140px; height: auto; max-height: 140px; }

.list_thumbnail li .box_thumbnail .thumb_update { overflow: hidden; width: 140px; height: 140px; }

.list_thumbnail li .box_thumbnail_goods { position: relative; display: block; overflow: hidden; width: 140px; height: 140px; margin: 0 5px 5px 5px; padding: 4px; background-color: #ffffff; border: 1px solid #dddddd; border-radius: 4px; -webkit-transition: border 0.2s ease-in-out; -o-transition: border 0.2s ease-in-out; transition: border .2s; }

.list_thumbnail li .box_thumbnail_goods .thumb_goods { display: table-cell; width: 130px; height: 130px; text-align: center; cursor: pointer; vertical-align: middle; }

.list_thumbnail li .box_thumbnail_goods .thumb_goods > img { width: auto; max-width: 130px; height: auto; max-height: 130px; }

.list_thumbnail li .box_thumbnail_goods .btn_empty { position: absolute; top: 5px; right: 5px; cursor: pointer; }

.list_thumbnail li .box_thumbnail_smms { display: block; position: relative; width: 70px; height: 70px; margin: 12px 15px -10px 5px; padding: 4px; background-color: #ffffff; border: 1px solid #dddddd; border-radius: 4px; -webkit-transition: border 0.2s ease-in-out; -o-transition: border 0.2s ease-in-out; transition: border .2s; }

.list_thumbnail li .box_thumbnail_smms img { width: 100%; height: 100%; }

.list_thumbnail li .box_thumbnail_smms .btn_close { display: block; position: absolute; top: 0px; right: 0; width: 24px; height: 24px; margin-top: -12px; margin-right: -12px; border-radius: 50%; background-color: #999; color: #dddee0; }

.list_thumbnail li .box_thumbnail_smms .btn_close:hover { background-color: #666; }

.list_thumbnail li .box_thumbnail_smms .btn_close:active { background-color: #666; }

.list_thumbnail li .box_thumbnail_info { margin: 0 5px 10px 5px; padding: 4px; }

.list_thumbnail li .box_thumbnail_info .txt_imagename { overflow: hidden; width: 140px; font-size: 12px; margin-bottom: 5px; text-overflow: ellipsis; white-space: nowrap; }

.list_thumbnail li .btn_changeimage { display: block; margin-top: 58px; width: 30px; height: 24px; outline: none; }

.list_thumbnail li .btn_goodsimg { min-width: 70px; border-color: #ccc; border-radius: 0; color: #333; min-width: 50px; padding: 5px 3px; }

.list_thumbnail li .btn_goodsimg:hover { border-color: #adadad; background-color: #e6e6e6; }
 */


/** 도움말 레이어창 **/
/* .help__linkimg { display: inline-block; width: 16px; height: 16px; margin-top: 3px; background: url("../img/ico_help.png") no-repeat; vertical-align: top; }

.help__linkimg:hover .help__cont { display: block; }

.help__cont { display: none; position: absolute; margin: 19px 0; padding: 10px; border: 1px solid #ddd; border-radius: 5px; background: #fff; z-index: 10; }

.help__cont > dl > dt { font-size: 13px; font-weight: bold; }

.help__cont > dl > dd { font-size: 12px; color: #777; }

.help2__linkimg { display: inline-block; position: absolute; right: 0; width: 16px; height: 16px; margin-top: 3px; background: url("../img/ico_help.png") no-repeat; vertical-align: top; }

.help2__linkimg:hover .help2__cont { display: block; }

.help2__cont { display: none; position: absolute; width: 350px; margin: 19px 0; padding: 10px; border: 1px solid #ddd; border-radius: 5px; background: #fff; z-index: 10; }

.help2__cont > dl > dt { font-size: 13px; font-weight: bold; }

.help2__cont > dl > dd { font-size: 12px; color: #777; }


.layerpopup__box { position: absolute; top: 0; left: 0; width: 600px; margin-top: 250px; margin-left: 270px; padding: 30px; border: 1px solid #999; background: #fff; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-sizing: border-box; }

.layerpopup__tit { font-size: 16px; font-weight: 600; }

.layerpopup__tit:before { content: ''; display: inline-block; width: 10px; height: 10px; margin-right: 5px; background: #333; }

.layerpopup__txt { margin-top: 15px; }

.layerpopup__close { position: absolute; top: 15px; right: 15px; }




.templatepreview{display: block; font-size: 14px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333; text-align: left; line-height: 1.5; }
.templatepreview__wrap{margin: 0 10px; padding: 10px 20px 20px; background: #b2c7da;}
.templatepreview__box{position: relative; height: 260px; margin-top: 4px; border-radius: 8px; background: #fff;}
.templatepreview__box:before{content: '알림톡 도착'; display: block; padding: 8px 10px; border-radius: 5px 5px 0 0; background: #ffeb33;}
.templatepreview__box:after { content: '';
    display: inline-block;
    position: absolute;
    top: -15px;
    right: -11px;
    width: 26px;
    height: 26px;
    background: url(/TKakao/img/ico_kakao.png) no-repeat; }
.templatepreview__txt{overflow: hidden; height:200px; margin: 10px; font-size: 13px;}
.templatepreview__btngroup {position: absolute; right: 0; bottom: 0; left: 0; background: #fff;}
.templatepreview__btn{ margin:12px; padding: 6px; border-radius: 4px; text-align: center; background: #dadde4;}





	
        .linkpopup__thumb label,
        .linkpopup__thumb img
         { width:100%; height:100%; }
        .divAddtarget {padding:5px;border:1px solid #ddd;border-top:0;background:#fff}
        .divAddtarget .tblSummary {width:100%;max-width:100%;border:1px solid #ddd;border-spacing:0;border-collapse:collapse;background:#fff;box-sizing:border-box}
        .divAddtarget .tblSummary>tbody>tr>th{padding:4px;border:1px solid #ddd;background:#ddd;vertical-align:inherit}
        .divAddtarget .tblSummary>tbody>tr>td{padding:8px;border:1px solid #ddd;vertical-align:inherit}
        .divAddtarget .txtAddTarget{display:inline-block;height:30px;padding:3px 5px;line-height:1.4;border:1px solid #ccc;color:#333;box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-sizing:border-box;width:120px}
        .divAddtarget .btnAddTarget{width:49px;height:29px;border:none;background:url(../img/img_button1.png) no-repeat;cursor:pointer}
        .divAddtarget .btnAddTarget:focus,.divAddtarget .btnAddTarget:hover{background:url(../img/img_button1_hover.png) no-repeat}         
        .preview__sendbtn { cursor:pointer; }
        
        .wrap_left .divMergeWrap .divMergeList{display:none;position:absolute;right:auto; left:180px;top:-1px;border:1px solid #999;border-radius:5px;background:#fff;padding:10px;z-index:2}
        .emoji__box { width:451px; }
        
       
        .wrap_left .divLinkWrap { position:absolute; top:190px; }
        .wrap_left .divLinkWrap .divLinkList { display:none; position:absolute; margin-left:-50px; width:940px; height:700px; top:-150px; border:1px solid #999;border-radius:5px;background:#fff;padding:10px;z-index:20; }
        
        .wrap_right .wrap_info dl dd{ font-size:13px; letter-spacing:-1px; }
        
        .divBackground { display:none;position:fixed;top:0;left:0;bottom:0;right:0;z-index:1; } 
        .preview__phone { height:510px; }
        .preview__mssgwrap { height:480px; }
        .preview__txt { word-wrap: break-word; }
        
        .help__linkimg:hover .help__cont2 {display:block}
        .help__cont2 {display:none;position:absolute;margin:19px 0; width:300px; bottom:0; padding:10px;border:1px solid #ddd;border-radius:5px;background:#fff;z-index:10;box-shadow:0 6px 12px rgba(0,0,0,.175);box-sizing:border-box}
        
        
        .txtEasyPayAmount {display:inline-block;height:30px;padding:3px 5px;line-height:1.4;border:1px solid #ccc;color:#333;box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-sizing:border-box;width:120px}
        #divPaypwd { position:absolute; right:0; width:372px; z-index:2; display:none; border:1px solid #999;border-radius:3px;background:#fff;padding: 0;  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)}
        #divPaypwd .header {position: relative; height: 45px;border-top: 1px solid #2f3545; border-bottom: 1px solid #292e3a; background: #343a49 url(/Common/img/pay/bg_header.png) no-repeat 100% 0; }
        #divPaypwd .sr_only{overflow:hidden;line-height:999px}
        #divPaypwd .close {position: absolute; right: 2px; top: 2px; width: 40px;height: 40px; background: url(/Common/img/pay/icon_x.png) no-repeat 0 0; }    
    	
    	
        #divLayerPopup { display: none; position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 10; }
        #divLayerPopup .divMsg { overflow:hidden; position: absolute; left: 20%; top: 15%; margin-left: -100px; margin-top: -100px; padding: 0; border-radius: 5px; background: #fff; }
        #divLayerPopup .divMsg span { display:block; max-height:95%; overflow-y:scroll; }
        #divLayerPopup .divMsg img { max-width:500px; height:auto; }
        #divLayerPopup .btnClose { position:absolute; top:0; right:0; width:53px; cursor:pointer; }
        #divLayerPopup .divNotToday { margin-top:0px; border-top:1px solid #000; }
        
        
    .free__btn {border: 1px solid #9d9d9d; background: #2c5aa7; color: #fff; }
    .free__btn:hover {background: #dfdfdf; color:#333;} */