@charset "UTF-8";
@import "tailwindcss";

:root {
    --tab-primary: #26499d;
}
html,body { font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; font-weight: 500}


article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

img {
  border: 0;                /* IE에서 테두리 제거 */
  vertical-align: top;      /* IE에서 이미지 하단에 미세한 여백 제거 */
  max-width: 100%;          /* 반응형 웹용 */
  height: auto;             /* 반응형 웹용 */
}

h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,blockquote,figure,fieldset,form,pre,table,th,td {
  margin: 0;
  padding: 0;
}

fieldset, img {
  border: 0;
}

* {
  box-sizing: border-box;
}


ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
legend {
  text-align: left;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  display: block;
  border: 0;
}

img {
  -ms-interpolation-mode: bicubic;
}

button,
input,select, textarea {
  margin: 0;
  font: inherit;
  line-height: inherit;
  color: inherit;
  vertical-align: middle;
  background: none;
  border: 0;
}

button {
  overflow: visible;
  cursor: pointer;
}
select {
  background-color: transparent;
}
textarea {
  overflow: auto;
  resize: vertical;
}

input::-ms-clear, input::-ms-reveal {
  display: none;
}
p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}



.ap {
    @apply absolute inset-0 w-full h-full;
}

.ap__pg {
  @apply h-full;
}

.ap__ct {
  @apply relative w-full h-full;
}

.ap__ti {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  color: #1f2937;
  line-height: 1;
}

.ap__lg {
  display: inline-block;
  margin-top: 8px;
  margin-left: 4px;
  vertical-align: baseline;
}

.ap__lgi {
  width: auto;
}


.ap__ml {
  float: left;
  width: 50px;
  text-align: center;
  margin-top: 4px;
  font-size: 12px;
  font-weight: 500;
  color: #374151;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 2px 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.ap__ml:hover {
  background: rgba(255, 255, 255, 0.8);
}

.ap__tk {
  position: absolute;
  right: 0px;
  display: inline-block;
  text-align: right;
  margin-top: 4px;
  color: #374151;
  font-weight: 500;
  padding: 4px 8px;
}

.ap__rbn {
  cursor: pointer;
  margin-right: 4px;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #26499D;
  border-radius: 4px;
  height: 28px;
}

.ap__tki {
  display: inline-block;
  position: relative;
  height: 28px;
  vertical-align: middle;
  background: #EEF1F4;
  border-radius: 4px;
  padding: 4px 8px;
}

.ap__tkl {
  margin-right: 4px;
  font-size: 14px;
  color: #333;
}

.ap__tkv {
  color: #214091;
  font-size: 14px;
  font-weight: bold;
}

.ap__tkd {
  font-size: 14px;
  color: #9ca3af;
}

.ap__tt {
  display: none;
  position: absolute;
  z-index: 50;
}

.ap__tki:hover .ap__tt,
.ap__hn:hover .ap__tt {
  display: block;
}

.ap__tt--tk {
  top: 0;
  left: 50%;
  margin-left: -128px;
}

.ap__tt--in {
  top:0;
  left: 30px;
}

.ap__tt--inr {
  left: 50%;
  bottom: 100%;
  margin-bottom: 8px;
  margin-left: -128px;
}

.ap__tt--in .ap__ttc,
.ap__tt--inr .ap__ttc {
  margin-top: 0;
}

.ap__tt--hn {
  top: 0;
  left: 50%;
  margin-left: -128px;
}

.ap__ttc {
  width: 256px;
  margin-top: 32px;
  padding: 12px 16px;
  border: 1px solid #26499D;
  border-radius: 4px;
  background: #fff;
  color: #333;
  font-size: 14px;
}

.ap__ttc--l {
  text-align: left;
}

.ap__ttr {
  overflow: hidden;
  margin-bottom: 4px;
}

.ap__ttl {
  float: left;
  color: #333333;
}

.ap__ttv {
  float: right;
  font-size: 14px;
}

.ap__ttv--rs {
  color: #FF3317;
}

.ap__ttv--cy {
  color: #2765E5;
}

.ap__ttd {
  float: right;
  color: #9ca3af;
  margin-left: 4px;
}

.ap__tts {
  border: 0;
  height: 1px;
  background: #D6DBE1;
  margin: 8px 0;
}

.ap__ttsu {
  color: #333333;
  margin-bottom: 4px;
}

.ap__ttac {
  color: #214091;
  font-weight: 700;
  margin-bottom: 4px;
}

.ap__ttow {
  color: #333333;
}

.ap__mn {
  @apply absolute inset-0 flex;
}

.ap__cd {
  @apply p-0;
}

.ap__pn--rs .ap__cd {
  @apply relative h-full;
}


.ap__cdt {
  display: inline-block;
  color: #333333;
  font-size: 16px;
  vertical-align: top;
}
.ap__item {
  display: inline-block;
  margin-top: 4px;
  margin-left: 4px;
  vertical-align: top;
  background: #214091;
  font-size: 14px;
  color: #fff;
  padding: 4px 8px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.ap__hn {
  display: inline-block;
  position: relative;
}


.ap__hn--in {
  margin-left: 0px;
}

.ap__iw {
  position: relative;
  border: 1px solid #C6CDD4;
  border-radius: 4px;
  background: #FBFBFC;
  min-height: 100px;
  overflow: hidden;
}

.ap__ta {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100px;
  color: #111827;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid #E6EAED;
  background: #ffffff;
}

.ap__ta:focus {
  outline: none;
  border: 1px solid #E6EAED;
  background: #ffffff;
}

.ap__if {
  text-align: right;
  margin-top: 4px;
}


.ap__iab {
  display: inline-block;
  height: 36px;
  margin-top: 6px;
  padding: 2px 8px;
  border: 1px solid #C6CDD4;
  border-radius: 4px;
  font-size: 14px;
  background: #EEF3FF;
  color: #333333;
  cursor: pointer;
  vertical-align: top;
  transition: background-color 0.2s ease;
}

.ap__iab:hover {
  background: #F6F9FF;
}
.ap__iab img {
  display: inline-block;
  margin-top: 2px;
}

.ap__iat {
  display: inline-block;
  margin-top: 2px;
  vertical-align: top;
  font-weight: 400;
  letter-spacing: -0.025em;
}

.ap__bc {
  margin-left: auto;
  padding: 4px 10px;
  font-size: 12px;
  color: #9ca3af;
}

.ap__bcv {
  color: #1f2937;
}

.ap__timg {
  margin-top: 4px;
  background: #fff;
}


.ap__thm {
  position: relative;
  width: 44px;
  height: 44px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #ddd6fe;
  background: #E6EAED;
}

.ap__thi {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ap__thr {
  position: absolute;
  top: -4px;
  right: -10px;
}

.ap__thr-icon {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}


.ap__sb {
  display: block;
  overflow: hidden;
  width: 90px; 
  height: 120px;
  padding: 4px;
  color: #4b5563;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.ap__sb:hover {
  background: #EEF3FF;
  border-color: #1570EF;
}


.ap__gb {
  display: block;
  padding: 16px;
  background: #26499D;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.ap__gb:hover {
  background: #22428E;
}

.ap__gb[disabled] {
  background: #d1d5db;
  cursor: not-allowed;
}

.ap__gt {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.025em;
  margin-right: 8px;
}

.ap__rl {
  background: #f9fafb;
  border: 1px solid #f9fafb;
  border-radius: 8px;
  padding: 0 12px;
}




.ap__pn--rs {
    @apply relative h-full;
}

.ap__pn--rs .ap__rl,
.ap__pn--rs .ap__rl--sc {
  position: absolute;
  top: 36px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: auto;
  padding: 0 12px 16px;
  overflow-y: auto;
}

.ap__rs {
  padding: 16px 0;
}

.ap__rlb {
  font-size: 12px;
  color: #9ca3af;
}

.ap__ec {
  margin-top: 12px;
  padding: 10px;
  border: 1px dashed #e5e7eb;
  border-radius: 8px;
  background: #ffffff;
  text-align: center;
  color: #4b5563;
}


.ap__est {
  font-size: 18px;
  font-weight: 500;
}

.ap__en {
  font-size: 14px;
  color: #6b7280;
  margin-top: 4px;
}

.ap__rits {
  margin-top: 12px;
  border-top: 1px solid #e5e7eb;
}

.ap__rit {
  display: block;
  padding: 12px 0;
  
  border-bottom: 1px solid #e5e7eb;
}

.ap__rt {
  font-weight: 700;
  color: #374151;
  margin-bottom: 4px;
}

.ap__rtx {
  font-size: 14px;
  color: #6b7280;
  line-height: 1.4;
}

.ap__rth {
  margin-top: 8px;
  overflow: hidden;
}

.ap__ldc,
.ap__erc {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  color: #4b5563;
  min-height: 136px;
}

.ap__ern {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  background: #f9fafb;
  border: 1px solid #f3f4f6;
  border-radius: 4px;
  padding: 8px 10px;
}

.ap__ic {
  float: left;
  width: 136px;
  margin-right: 4px;
  margin-bottom: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #ffffff;
  overflow: hidden;
}

.ap__icm {
  display: block;
  height: 104px;
  padding: 8px;
  text-align: center;
}

.ap__ici {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

.ap__ica {
  padding: 6px;
  overflow: hidden;
}

.ap__ia {
  float: left;
  width: 48%;
  margin-right: 4%;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  font-size: 12px;
  color: #374151;
  background: #f3f4f6;
  text-align: center;
  padding: 4px 0;
  font-weight: 500;
  letter-spacing: -0.025em;
}

.ap__ia:last-child {
  margin-right: 0;
}

.ap__ia.is-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.ap__rb {
  margin-left: 4px;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: normal;
  color: #1570EF;
  border: 1px solid #D6DBE1;
  background: #ffffff;
  border-radius: 4px;
}

/* .ap__rb.is-disabled {
  opacity: 0.6;
  cursor: not-allowed;
} */

.ap__md {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 50;
}
.ap__mdb {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:url(./img/bg_black50.png) repeat;
}

.ap__md.is-hidden {
  display: none;
}

.ap__mdc {
  position: absolute;
  left:50%;
  top:50%;
  margin-top:-100px ;
  margin-left:-200px ;
  background: #ffffff;
  border-radius: 4px;
  padding: 24px;
  width: 400px;
}

.ap__mdc--pv {
  position: absolute;
  left:50%;
  top:20%;
  margin-left: -300px;
  background: #ffffff;
  border-radius: 4px;
  padding: 0;
  width: 600px;
}

.ap__mdh {
  padding: 12px 16px;
  border-bottom: 1px solid #e5e7eb;
  overflow: hidden;
}


.ap__mdcl {
  float: right;
  padding: 4px 8px;
  font-size: 12px;
  color: #6b7280;
  cursor: pointer;
}


.ap__mdst {
  font-size: 18px;
  font-weight: 600;
  color: #111827;
  margin-top: 8px;
}

.ap__mdn {
  margin-top: 8px;
  font-size: 14px;
  color: #6A737B;
}

.ap__pv {
  background: #f9fafb;
}

.ap__pvc {
  display: block;
}


.ap__pvi {
  max-height: 70vh;
  max-width: 100%;
  width: auto;
}

.ap__pvs {
  background: #ffffff;
  padding: 16px;
}

.ap__pva {
  margin-bottom: 12px;
  overflow: hidden;
}

.ap__cfa {
  margin-top: 20px;
  text-align: right;
}

.ap__cfb {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.ap__cfb--cn {
  color: #4b5563;
  background: #EEF3FF;
}

.ap__cfb--cn:hover {
  color: #1f2937;
}

.ap__cfb--ok {
  margin-left: 8px;
  background: #26499D;
  color: #ffffff;
}

.ap__cfb--ok:hover {
  background: #1e40af;
}


.ap__pvd {
  font-size: 14px;
  color: #4b5563;
}

.ap__pvdl {
  color: #6b7280;
  display: block;
  margin-bottom: 4px;
}

.ap__ml--hidden {
  display: none;
}

.ap__pn--main {
  @apply relative flex-1 h-full;
}
.ap__pn--rs {
  @apply relative w-90 h-full;
}

.ap__cd--no-pr {
  padding-right: 0px;
}

.ap__tbl--full {
  width: 100%;
}

.ap__blk {
  position: relative;
  margin-top: 0px;
  padding: 8px 0 0 0;
}

.ap__hn--vt {
  vertical-align: top;
}

.ap__ttc--normal {
  font-weight: normal;
}

.ap__th--ib {
  display: inline-block;
  position: relative;
}

.ap__tmpl-list {
  overflow: hidden;
  display: block;
  height: 130px;
}

.ap__tmpl-item {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 130px;
}

.ap__gb--full {
  width: 100%;
}

.ap__rlb--sm {
  font-size: 14px;
}

.ap__est--sm {
  font-size: 14px;
}

.ap__erc--center {
  text-align: center;
}

.ap__eri--ib {
  display: inline-block;
}

.ap__mdst--sm {
  font-size: 14px;
}

.ap__mdn--sm {
  font-size: 14px;
}

.ap__pvi--bd {
  border: 1px solid;
}

.ap__pvs--scroll {
  max-height: 400px;
  overflow-y: auto;
}

.ap__pvbtn {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #26499D;
  border-radius: 4px;
  font-size: 14px;
}

.ap__txt-lg {
  font-weight: 500;
  font-size: 16px;
}

.ap__txt-md {
  line-height: 1.2;
  font-size: 14px;
}

.ap__txt-block {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
}

.ap__td--add {
  width: 110px;
  padding-top: 16px;
}

.ap__td--pt10 {
  padding-top: 10px;
}

.ap__td--center {
  text-align: center;
}

.ap__td--top-white {
  vertical-align: top;
  background: #fff;
}

.ap__preview-box {
  display: inline-block;
  width: 300px;
  height: 400px;
  padding: 10px;
}

.ap__img--mt4 {
  margin-top: 4px;
}

.ap__p--mt4 {
  margin-top: 4px;
}

.ap__hr--clear {
  margin: 0;
  padding: 0;
  border: 0;
  clear: both;
}

.ap__footer {
  margin-top: 20px;
  padding: 4px 0 10px;
  background: #fff;
}


.is-hidden {
  display: none;
}

.is-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
